
.ffplugin-widget {
	font-size: 16px;
	font-family: Arial;
	line-height: 1.25em;
}

.ffplugin-widget  ul {
	display: flex;
	flex-direction: column;
	gap: 1em;
	list-style: none;
	
	padding: 0;
	margin: 0;
}

.ffplugin-widget  ul  li {
	border: solid gray 1px;
	padding: .5em;
	background-color: #555;
	cursor: default;

	font-weight: bold;
	color: #eee;
	text-align: center;
	
	position: relative;
	
	background-color: var(--color);
	opacity: .2;
}
.ffplugin-widget  ul  li::after {
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.ffplugin-widget  ul  li.selected {
	opacity: .8;
	_border: solid #fff 1px;
	box-shadow: inset 0 0 5px 1px white;
}

.ffplugin-widget  ul  li:hover {
	color: #fff;
	opacity: 1;
}
.ffplugin-widget  ul  li:hover::after {
	box-shadow: 0 0 0px 1px white, 0 0 0 2px black, 0 0 0px 3px white;
}
